body {
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    margin: 0;
}

h4 {
    font-size: medium;
}

.color {
    color: rgb(243, 53, 91);
}

P {
    font-size: 17px;
}

.page-two {
    display: flex;
    margin-bottom: 150px;
}

.width {
    width: 50%;
    padding: 3%;
}

.width img {
    width: 470px;
}

.link-button {
    background-color: rgb(247, 52, 179);
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 8%;
    color: white;
    font-weight: 700;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    width: 50%;
    margin-left: 5%;
    margin: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid rgb(84, 181, 202);
    ;
}

.page-two {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}